{% extends "monitor/base.html" %}
{% load static %}
{% load filters %}

{% block title %}Monitor del Sistema{% endblock %}

{% block content %}

<h1 class="mb-4">Monitor del Sistema</h1>

<div class="row">
    {% include "monitor/components/card_cpu.html" %}
    {% include "monitor/components/card_mem.html" %}
    {% include "monitor/components/card_disk.html" %}
    {% include "monitor/components/card_gpu.html" %}
</div>

{% include "monitor/components/temperaturas.html" %}
{% include "monitor/components/red.html" %}
{% include "monitor/components/graficas.html" %}
{% include "monitor/components/especificaciones.html" %}
{% include "monitor/components/procesos.html" %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'monitor/js/monitor_charts.js' %}"></script>
<script src="{% static 'monitor/js/monitor_updates.js' %}"></script>
{% endblock %}
